::-webkit-scrollbar{display:none;}
.webix_layout_space, .webix_layout_wide, .bg {
	background: #022e4c;
	border: none;
}
.webix_view {
	margin-top: 0 !important;
}
.header-icon span {
	line-height: 36px !important;
}
.header-label div {
	line-height: 38px !important;
}
.menu button:focus, .menu button:hover{
	background: transparent !important;
}
.sidebar{
	margin-top: 1px !important;
	background: #146499;
	color: #fff;
	font-size: 16px;
}
.sidebar .webix_tree_item{
	color: #fff !important;
}
.sidebar .webix_selected, .sidebar .webix_selected span{
	background: transparent !important;
	color: #eb9b2f !important;
}
.sidebar .webix_tree_branch_1{
	border: none;
}
.toolbar{
	background: #084a74 !important;
}
.toolbar .webix_el_label {
	margin-left: 0;
	padding-left: 0;
}
.page-header {
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	font-weight: 400;
	color: #222;
}
.panel {
	background: #146499;
}
.panel-1 {
	background: #084a74;
}
.panel-header button{
	background: transparent;
	border: none;
	color: #222;
	cursor: inherit;
	font-size: 18px;
}
.panel-header button:hover {
	background: transparent;
}
.panel-header button:focus {
	background: transparent;
}
.panel-header button:active {
	background: transparent;
}
.panel-header-param span {
	color: #FFA340 !important;
}
.panel-header-calc span {
	color: #6de4a9 !important;
}
.panel-param {
	min-height: 160px;
}
.button-normal button, .button-normal button:hover, .button-normal button:active, .button-normal button:focus{
	background: #ffbd28;
	border: none;
}
.date-picker .webix_inp_static{
	font-size: 18px;
	font-weight: 400;
	color: #eb9b2f;
}
.date-picker label {
    color: #fff;
}
.date-picker-none .webix_inp_static{
	border: 1px solid #43a5d6;
	background: #044066;
}
.date-picker-none .webix_inp_static:focus{
	border: 1px solid #ffffff;
	box-shadow: 0 0 1px #ffffff inset;
}
.date-picker .webix_inp_static::before{
	font-family:FontAwesome;
	content: "\f073";
	color: #fff;
	display: inline-block;
	margin-right: 10px;
}
.date-picker span, .combo span{
	background: transparent !important;
}
.date-picker span::before, .combo span::before{
	content: "\f0da";
	color: #43a5d6;
}
.combo-dev .webix_el_box::before{
	font-family:FontAwesome;
	content: "\f03c";
	color: #FFA340;
	display: inline-block;
	position: absolute;
	top: 16px;
	left: 10px;
}
.combo-chart .webix_el_box::before{
	font-family:FontAwesome;
	content: "\f201";
	color: #1DD19F;
	display: inline-block;
	position: absolute;
	top: 16px;
	left: 10px;
}
.combo .webix_el_box input, .combo-dev .webix_el_box input, .combo-chart .webix_el_box input{
	font-weight: 400;
	font-size: 14px;
	color: #eb9b2f;
	cursor: pointer;
}
.combo-dev .webix_el_box input, .combo-chart .webix_el_box input{
	padding-left: 30px;
}
.combo-opt input{
	background: #044066;
	border: none;
}
.combo-opt input:focus {
	border: none !important;
	box-shadow: none !important;
}
.combo-opt label{
	color: #fff;
	font-size: 14px;
	padding-left: 7px;
}
.text label{
	color: #fff;
	font-size: 14px;
	padding-left: 25px;
}
.text input{
	background: #044066;
	color: #eb9b2f;
	font-weight: 400;
	font-size: 20px;
	border: none
}
.webix_window, .webix_window .webix_list{
	background: #044066 !important;
	font-size: 14px;
	color: #fff;
}
.webix_window .webix_list_item, .webix_window .webix_list_item:focus {
    border: none;
    outline: none;
}
.webix_window, .webix_window .webix_list .webix_selected{
	background: transparent;
	color: #eb9b2f;
    border: none;
}
.label{
	color: #fff;
	font-size: 14px;
}
.label-1{
	color: #fff;
	font-weight: 400;
	font-size: 20px;
}
.label-2 {
	text-align: left;
	padding-left: 10px;
}
.list{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #084a74 !important;
}
.list .webix_selected{
	background: #146499;
	color: #eb9b2f;
	border: none !important;
}
.list .webix_list_item {
	border: none;
}
.list .webix_list_item:focus {
	outline: none;
}
.search input {
	background: #044066;
	color: #fff;
	border: 1px solid #316fa5;
}
.top {
	margin-left: 0 !important;
	margin-top: 1px !important;
}
.start-btn button, .start-btn button:hover {
	background: #1d98ff !important;
	border: none;
	cursor: default;
}
.stop-btn button, .stop-btn button:hover {
	background: #c1250d;
	border: none;
	cursor: default;
}
.webix_sidebar_popup {
	box-shadow: 2px 2px 3px #000;
}
.webix_sidebar_popup .webix_sidebar_popup_title {
	background: #044066;
	color: #fff;
}
.webix_sidebar_popup .webix_sidebar_popup_title .webix_template, .webix_popup {
	border: none !important;
	box-shadow: 2px 2px 3px #000;
}
.webix_calendar {
	background: #044066;
}
.webix_view > .webix_cal_header div, .webix_cal_day, .webix_cal_month, .webix_cal_footer {
	color: #fff;
}
.webix_cal_event {
	color: #3498db;
}
.table .webix_ss_header {
	background: #2d4348;
}
.table .webix_ss_header td {
	background: #2d4348;
	color: #fff;
	border-bottom: 1px solid #022e4c !important;
}
.table .webix_ss_center {
	background: #2d4348;
	color: #fff;
}
.table .webix_last .webix_hcell {
	border-right: none !important;
}
.table .webix_hcell, .table .webix_cell {
	border-right: 1px solid #000;
}
.table .webix_cell{
	border-bottom: 1px solid #000;
}
.table .webix_ss_header td {
	border-right: none !important;
}
.carousel .webix_nav_panel_corner {
    display: none;
}
.carousel .webix_nav_button_corner:focus {
    outline: none;
}
.carousel .webix_nav_button_corner {
    top: 8px;
}
.carousel .webix_nav_button_prev {
    left: 260px;
}
.carousel .webix_nav_button_next {
    left: 290px;
}